body{
  font-family:tahoma, Helvetica, sans-serif;
  font-size: 18px;
  width: 700px;
  }
h1{
  color: #000000;
  font-size: 37px;
  line-height: 46px;
  font-family:tahoma, Helvetica, sans-serif;
  }
h2{
  font-family:tahoma, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 38px;
  }
h3{
  color: #666;
  font-weight: normal;
  font-size: 18px;
  }
p{
  color: #333;
  line-height: 27px;
  
  }
